.itemList {
    background-color: #ec3237;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}

.itemList a {
    text-decoration: none;
    color: #ec3237;
}

.card {
    width: 25%;
    padding-inline: 10px;
}
